/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* LAYOUT */





/* Column size */

.col-1 {
    width: calc((100% / 12) * 1);
}
.col-2 {
    width: calc((100% / 12) * 2);
}
.col-3 {
    width: calc((100% / 12) * 3);
}
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-5 {
    width: calc((100% / 12) * 5);
}
.col-6 {
    width: calc((100% / 12) * 6);
}
.col-7 {
    width: calc((100% / 12) * 7);
}
.col-8 {
    width: calc((100% / 12) * 8);
}
.col-9 {
    width: calc((100% / 12) * 9);
}
.col-10 {
    width: calc((100% / 12) * 10);
}
.col-11 {
    width: calc((100% / 12) * 11);
}
.col-12 {
    width: 100%;
}

/* UTILITIES */

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}





/* STYLE */

button {
    border: none;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    height: 25px;
}

.bg-white {
    background-color: white;
}

.text-white {
    color: white;
}





/* MAIN */

main {
    height: calc(100vh - 60px);
}
/* SIDEBAR */

.sidebar {
    width: 200px;
    background-color: #000000;
    
}

.boolean-logo {
    width: 150px;
}

.sidebar .container {
    height: 100%;
}

.sidebar ul {
    list-style: circle;
    
}

.sidebar .row {
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 200px;
    height: calc(100vh - 60px);
    align-content: center;
    padding: 10px;
}

.sidebar .col:last-child {
    position: absolute;
    bottom: 10px;
    left: 10px;
    
    
}

/* PAGE */

.page {
    flex-grow: 1;
}

/* TOP_PAGE */

.top-page {
    background-color: #0E121B;
    height: 50px;
}

.top-page.container {
    width: 100%;
}

.top-page .row {
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    padding: 10px;

    
    
}

.top-page .col {
    align-items: center;
    height: 100%;
    
    
}

/* APP_PAGE */

.app-page {
    background-color: #141923;
    height: calc(100vh - 110px);
    padding: 10px;
}

.section-title{
    display: block;
}
.app-page .container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    
}
.app-page .row {
    width: 100%;
    
}

.article [class^="col"] {
    padding: 10px;
    
}

.article [class^="col"] * {
    padding: 10px;
}

.border-mark *{
    border-left: 2px solid white;
}

.list {
    flex-grow: 1;
}

.list > * {
    margin: 10px;
}

.list ul {
    list-style: circle;
    padding-left: 20px;
}

/* FOOTER */

footer {
    z-index: 1;
}

.footer-nav {
    height: 60px;
    background-color: #282828;
    padding: 10px;
    
}

.footer-nav button {
    width: 50px;
}
.footer-nav .container {
    height: 100%;
    
    
}

.footer-nav .row {
    align-content: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-link li {
   margin: 10px;
}






/*  il contenuto di page va sopra il footer quando la pagina si stringe*/


/* debug */

.debug .container {
    border: 2px solid purple;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^="col"] {
    border: 2px solid green;
}

